<div>
  <router-outlet></router-outlet> 
  <app-authorization *ngIf="!token; else elseBlock"></app-authorization>
  <ng-template #elseBlock>
    <div *ngIf="User && Org  " class="header">
      <button class="theme-toggle-btn" (click)="toggleTheme()"
        [title]="currentTheme === 'old' ? 'Switch to New UI' : 'Switch to Classic UI'">
        <mat-icon>{{ currentTheme === 'old' ? 'auto_awesome' : 'format_paint' }}</mat-icon>
        {{ currentTheme === 'old' ? 'New UI' : 'Classic' }}
      </button>
      <mat-grid-list cols="12" rowHeight="70px" >

        <mat-grid-tile colspan="1" >
          <span class="home">
            <a href="tags/tag_base.asp" title="DebugTool">
              <button mat-mini-fab color="primary" aria-label="DebugTool">
                <mat-icon>home</mat-icon>
              </button>
            </a>&nbsp;
            <a target="_blank" rel="noopener noreferrer" href="{{fronDorLink}}"><img title="Saleforce Home" style="    width: 50px;
            bottom: -20px;
            position: relative;"
            src="assets/img/salesforce_Icon.svg">
            </a>    
          </span>
          
        </mat-grid-tile>

        <mat-grid-tile colspan="11">
          <h3>
            <span class="right-header">
              logged as:&nbsp;   {{User.username}} &nbsp;| &nbsp;   {{credentials["org"]}} <br> {{Org.Name}} | <span class="IsSandbox-{{Org.IsSandbox}}"></span>
            </span>
          </h3>
        </mat-grid-tile>

        <mat-grid-tile >
          <h3 class="userName">
            Hi: {{User.name}}
          </h3>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
      
    </div>
    
    <br/>
    <div *ngIf="GMToffSet && credentials" class="inerAPP">
     
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab label="Trace Flags">
           <app-trace-flag-table   [GMToffSet]="GMToffSet" [credentials]="credentials" ></app-trace-flag-table>
           <!--<app-trace-flag-table  *ngIf="0==selected.value" [GMToffSet]="GMToffSet" [credentials]="credentials" ></app-trace-flag-table> --> 
        </mat-tab>
        <mat-tab label="Debug Logs">
           <app-debug-table    [show]="1==selected.value" [GMToffSet]="GMToffSet" [credentials]="credentials"></app-debug-table>
        </mat-tab>
        <template  *ngFor="let tab of logTabs; let index = index" >
          <mat-tab [label]="tab.Id">
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon pr-3 tab-close" (click)="removeTab(index)">close</mat-icon>
              {{tab.Id}}
            
            </ng-template>
            <!--<app-debug-window  *ngIf="index+2==selected.value" [Debug]='tab'></app-debug-window>-->
            <app-log-tab   [Debug]='tab'></app-log-tab>
          </mat-tab>
        </template>
      </mat-tab-group>
     
      
    </div>
    <div class="CORSerror" *ngIf="hasCORSerror">
      Error while login attempts. <br>
      Please go to your ORG and navigate to -> setup -> cors, and make sure the tool path is allowed.    
    </div>
  </ng-template>

  
  
</div>
